@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@font-face {
font-family: Proxima;
src: url('proximanova-light-webfont.woff')/*,
	 url('proximanova-light-webfont.ttf'),
	 url('proximanova-light-webfont.svg'),
     url('proximanova-light-webfont.eot')*/;
}

::selection {
	background:rgba(190, 0, 38,.5)
}

* {
	margin:0;
	padding:0;
	border:0;
}

body, html {
	height:100%;
	font-size:16px;
}

body {
	font-family:Proxima, sans-serif;
	background:#fcfcfc;
}

h1, h2, h3, h4, h5, h6, b, button, #calendar table.fc-header, thead {
	font-family:'Montserrat',Proxima,sans-serif;
}

#menu, #footer {
	background:#be0026;
	width:100%;
	color:#fff;
	clear:both;
	overflow:hidden;
}

#footer {
	padding:1% 0;
	margin-top:2%;
}

#footer div {
	color:#fff;
	padding:.5% 4%;
	max-width:48%;
	float:left;
}

#footer div#links a {
	color:#fff;
	text-decoration:none;
}

#footer div#links {
	float:right;

}

.logo {
	display:block;
	float:left;
	padding:.5% 0 .5% 5%;
	max-height:80px;
}

#stats {
	float:right;
	padding:2% 5%;
}

#wrapper {
	padding-top:2%;
	width:90%;
	margin:0 auto;
}

#main {
	margin:2% auto 4%;
	padding:4%;
	background:#fefefe;
	box-shadow:0 0 20px #ddd;
	max-width:50%;
	text-align:center;
}

#loginform table {
	margin:4% auto 2%;
	font-size:18px;
	font-family:'Montserrat',Proxima,sans-serif;
}

#loginform table input {
	padding:3% 5%;
	margin:5%;
	min-width:35%;
	border:1px solid #ccc;
	box-shadow:0 0 5px #ccc;
	font-size:16px;
	max-width:100%;
}

table a {
	color:#444;
	display:block;
	position:relative;
}

table.info input {
	border:1px solid #ccc;
	box-shadow:0 0 4px #ddd;
	padding:1%;
}

table.info {
	width:60%;
}

table.info td {
	padding:1%;
}

.overlay:hover {
	opacity:.8;
}

.overlay span {
	padding-top:30%;
	font-size:24px;
	display:block;
	font-family:'Montserrat',Proxima,sans-serif;
}

.overlay {
	height:100%;
	width:100%;
	background:#000;
	opacity:0;
	position:absolute;
	z-index:10;
	-webkit-transition:opacity .5s ease-in-out;
	transition:opacity .5s ease-in-out;
	cursor:hover;
	color:#fff;
	text-align:center;
}

.ui-widget {
	font-family:Proxima,sans-serif;
	font-size:100%;
}

.ui-corner-all {
	border-radius:0 !important;
}

li.ui-menu-item:hover {
	color:#fff;
	background:#be0026 !important;
}

input[type="submit"]:hover, button:hover {
	background:rgba(190, 0, 38, .5);
}

input[type="submit"], button {
	background:#be0026;
	color:#fff;
	cursor:pointer;
	-webkit-transition:.3s background ease-in-out;
	transition:.3s background ease-in-out;
	padding: 3% 8%;
	margin:0 2%;
	font-size:18px;
	font-family:'Montserrat',Proxima,sans-serif;
}

#menu button {
	background:#4d4d4d;
	float:right;
	padding: 1% 2%;
	margin:2% 3%;
}

#list {
	margin:3% 0;
	overflow:hidden;
	padding-right:8%;
	white-space:nowrap;
}

li {
	list-style:none;
	margin:2% 0;
}

.fail, .no {
	color:#dd1111;
	margin-top:2%;
}

.no {
	margin-top:8%;
	font-size:20px;
	text-align:center;
}

.clear {
	clear:both;
}